<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css" type="text/css" />
</head>

<body>
    <h1>Sign In</h1>
    <img src="../assets/oldjukebox.png">
    <div id="form-container">
        <form action="/Jukebox Login" method="post">
            <label for="password">Password: </label>
            <input type="text" id="password" password="password">
            <br>
            <label for="name">Username:</label>
            <input type="text" id="name" name="user_name">
        </form>
    </div>
</body>

</html>